@font-face {
    font-family: "Bungee Shade";
    src: url(fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: "Bungee Outline";
    src: url(fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: "Barlow Condensed Light";
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Light.ttf);
}

@font-face {
    font-family: "Barlow Condensed Bold";
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}

@font-face {
    font-family: "Barlow Semi Condensed";
    src: url(fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf);
}

/* ----------------------------------- BODY ----------------------------------- */
body {
    margin: 0;

    background-image: url(images/background_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------------------- WRAPPER ---------------------------------- */
#wrapper {
    margin: 5vh 10vw;
    background-color: rgba(25, 24, 24, 0.5);
    border-radius: 20px;
}

/* --------------------------------- HEADER ----------------------------------- */

header h1 {
    font-family: Bungee Shade;
    color: rgba(245, 241, 241, 0.7);
    font-size: 10vh;
    margin: 2vh;
}

/* ----------------------------------- NAV ------------------------------------ */

nav {
    display: flex;
    gap: 0.5vh;
    margin: 6vh 2vh;
}

nav a {
    background-color: rgba(245, 241, 241, 0.7);
    color: black;
    font-family: Barlow Condensed Light;
    text-decoration: none;
    text-align: center;
    font-size: 3vh;
    padding: 2vh;
    border-radius: 10px;
    flex-basis: 0;
    flex-grow: 1;
}

nav a:hover {
    background-color: rgba(29, 28, 28, 0.6);
    color: white;
}

nav a:nth-child(2) {
    border: 1px solid white;
    box-shadow: 0 0 5px #fff;
    background-color: rgba(245, 241, 241, 0.7);
    color: black;
    font-family: Barlow Condensed Bold;
    cursor: auto;
}

/* ------------------------------ MAIN - SECTION ----------------------------- */

main section {
    margin: 1vh 2vh;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(29, 28, 28, 0.6);
}

/* ----------------------------- SECTION - TOP-ROW --------------------------- */

.top-row {
    display: flex;
    gap: 1vh;
    padding: 2vh 2vh 0.5vh 2vh;
}

/* --------------------------------- CONTENT ---------------------------------- */

.content {
    width: 60%;
    color: white;
}

.content h2 {
    font-family: Bungee Outline;
    font-size: 4vh;
    margin: 0;
}

.content h3 {
    font-family: Barlow Semi Condensed;
    font-size: 3vh;
    margin-top: 0;
    margin-bottom: 6vh;
}

.content p:first-of-type {
    margin-bottom: 0;
}

.content ul {
    margin-top: 0;
    margin-bottom: 6vh;
    list-style-type: none;
}

.content ul,
.content p {
    font-family: Barlow Condensed Light;
    font-size: 2vh;
}

/* ---------------------------------- ALBUM ----------------------------------- */

.album {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

/* ---------------------------- IMAGE-CONTAINER ------------------------------- */

.img-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.img-container img:first-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: opacity 1s;
}

.img-container img:first-child:hover {
    opacity: 0;
}

/* -------------------------------- LIST-BOX ---------------------------------- */

.list-box {
    display: flex;
    gap: 1vh;
}

.list-box ol {
    background-color: #eecb00;
    color: #a30f71;
    font-family: Barlow Condensed Light;
    padding: 1vw;
    margin: 0;
    flex-basis: 0;
    flex-grow: 1;
}

main>:nth-child(2) .list-box ol {
    background-color: #0098d2;
    color: #f4e4be;
}

.list-box li {
    font-size: 1vw;
    margin-left: 1vw;
}

.list-box h4 {
    margin: 0;
    font-size: 1.5vw;
}

.list-box ol:first-child {
    border-radius: 0 0 0 10px;
}

.list-box ol:last-child {
    border-radius: 0 0 10px 0;
}

/* ---------------------------------- BOTTOM-ROW ----------------------------- */

.bottom-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 1vh;
    padding: 0.5vh 2vh 2vh 2vh;
}

.bottom-row p {
    font-family: Barlow Condensed Light;
    font-weight: bold;
    font-size: 1.5vw;
    margin: 0;
    padding: 1vw 2vw;
    display: flex;
    align-items: center;
}

/* -------------------------------- BOTTOM-ROW 1 ------------------------------ */

.bottom-row p:first-child {
    background-color: rgb(209, 100, 169);
    color: #eecb00;
    grid-column: 1;
    grid-row: 1;
    border-radius: 10px 0 10px 10px;
}

.bottom-row p:nth-child(2) {
    background-color: rgb(209, 100, 169);
    color: #eecb00;
    grid-column: 3 / span 2;
    grid-row: 1;
    border-radius: 10px 10px 10px 0;
}

.bottom-row img {
    width: 100%;
    height: 100%;
    grid-column: 5;
    grid-row: 1;
    border-radius: 0 10px 10px 10px;
}

.bottom-row p:nth-child(4) {
    grid-column: 5;
    grid-row: 1;
    color: white;
    align-self: end;
}

.bottom-row p:nth-child(5) {
    background-color: rgb(209, 100, 169);
    color: #eecb00;
    grid-column: 6;
    grid-row: 1;
    border-radius: 10px 10px 0 10px;
}

/* -------------------------------- BOTTOM-ROW 2 ------------------------------ */

main>:last-child .bottom-row p:first-child {
    background-color: #f4e4be;
    color: #0098d2;
    grid-column: 1 / span 2;
    grid-row: 1;
    border-radius: 10px 10px 10px 0;
}

main>:last-child .bottom-row p:nth-child(2) {
    background-color: #f4e4be;
    color: #0098d2;
    grid-column: 3;
    grid-row: 1;
    border-radius: 0 10px 10px 10px;
}

main>:last-child .bottom-row img {
    grid-column: 4 / span 2;
    grid-row: 1;
    border-radius: 0 10px 10px 10px;
}

main>:last-child .bottom-row p:nth-child(4) {
    grid-column: 4 / span 2;
    grid-row: 1;
}

main>:last-child .bottom-row p:last-child {
    background-color: #f4e4be;
    color: #0098d2;
    grid-column: 6;
    grid-row: 1;
    border-radius: 10px 10px 0 10px;
}

/* ------------------------------------- FOOTER ------------------------------- */

footer {
    padding: 2vh;
}

footer p {
    color: white;
    font-family: Barlow Condensed Light;
    font-size: 2vh;
    margin: 5vh 0 0 0;
}

/* -------------------------------- MEDIA QUERIES ----------------------------- */

/* ----------------------------- MOBILVERSION <500PX -------------------------- */

@media (max-width: 500px) {
    body {
        background-image: url(images/background_image_two.jpeg);
    }

    #wrapper {
        margin: 0;
    }

    header h1 {
        text-align: center;
        font-size: 15vw;
    }

    nav a {
        font-size: 3vw;
    }

    .top-row {
        flex-direction: column-reverse;
    }

    .content,
    .album {
        width: 100%;
    }

    .content h2 {
        font-size: 7vw;
    }

    .content h3 {
        font-size: 5vw;
    }

    .content ul,
    .content p {
        font-size: 4vw;
    }

    .img-container img {
        border-radius: 10px 0 0 10px;
    }

    .list-box ol {
        padding: 3vw;
    }

    .list-box h4 {
        font-size: 4vw;
    }

    .list-box li {
        margin-left: 2.5vw;
        font-size: 3vw;
    }

    .bottom-row {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .bottom-row p {
        font-size: 3vw;
        padding: 2vw;
    }

    .bottom-row p:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .bottom-row p:nth-child(2) {
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    .bottom-row img {
        grid-column: 2;
        grid-row: 2;
    }

    .bottom-row p:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }

    .bottom-row p:nth-child(5) {
        grid-column: 3;
        grid-row: 2;
    }

    main>:last-child .bottom-row p:first-child {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    main>:last-child .bottom-row p:nth-child(2) {
        grid-column: 3;
        grid-row: 1;
    }

    main>:last-child .bottom-row img {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    main>:last-child .bottom-row p:nth-child(4) {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    main>:last-child .bottom-row p:last-child {
        grid-column: 3;
        grid-row: 2;
    }

    footer p {
        font-size: 4vw;
    }
}

/* ----------------------------- DESKTOP 800px-900px  -------------------------- */

@media (min-width: 800px) and (max-width: 900px) {
    header h1 {
        font-size: 63px;
    }

    nav a {
        font-size: 18px;
    }

    .content h2 {
        font-size: 22px;
    }

    .content h3 {
        font-size: 16px;
    }

    .content ul,
    .content p,
    .bottom-row p footer p {
        font-size: 12px;
    }
}

/* ----------------------------- DESKTOP 900px-1200px ------------------------- */

@media (min-width:900px) and (max-width:1200px) {
    header h1 {
        font-size: 7vw;
    }

    nav a {
        font-size: 2vw;
    }

    .content h2 {
        font-size: 2.4vw;
    }

    .content h3 {
        font-size: 1.7vw;
    }

    .content ul,
    .content p,
    .bottom-row p,
    footer p {
        font-size: 1.3vw;
    }
}

/* ----------------------------- DESKTOP >1200px ------------------------------ */

@media (min-width: 1200px) {
    #wrapper {
        width: 960px;
    }

    header h1 {
        font-size: 84px;
    }

    nav a {
        font-size: 24px;
    }

    .content h2 {
        font-size: 29px;
    }

    .content h3 {
        font-size: 20px;
    }

    .content ul,
    .content p,
    .bottom-row p,
    footer p {
        font-size: 15.5px;
    }

    .list-box h4 {
        font-size: 18px;
    }

    .list-box li {
        font-size: 12px;
    }
}